In [3]:
a = 'c'

In [4]:
type(a)

str

In [5]:
print('hello world')

hello world

In [6]:
age=19
print('my age is:',age)

my age is: 19

In [11]:
##fstring
print(f'my age is:{age}')

my age is:19

In [14]:
##format()
name="manish"
age=19
print("my name is {} and age is {}" .format(name,age))

my name is manish and age is 19

In [19]:
##placeholder
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is manish and age is 19

In [2]:
name="manish"
age=19
degree="BE"
print("my age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

my age is 19 and i have completed: my degree BE with the name of manish

In [3]:
print(f"my age is {age} and i have completed: my degree {degree} with the name of {name}")

my age is 19 and i have completed: my degree BE with the name of manish

In [4]:
##flowstatements

##### ifstatements
age=18
if age>=18:
    print("you are eligible to vote")

In [6]:
age=int(input("enter the age"))
if age>=18 and age<=45:
    print("you are young blood")

enter the age 30

you are young blood

In [7]:
age=int(input("enter the age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("thank you we will let you know")

enter the age 46

thank you we will let you know

In [1]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price 3999

the price of the product is 3199.2000000000003

In [18]:
product_price=int(input("enter the price"))
if product_price>3000:
    if product_price==4000:
        print("congrsgulation goa trip")
    print("the price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("congrgulation you got gift")
        print("the price of the product is {}".format(product_price*0.7))
else:
    print("the price of the product is {}".format(product_price*0.6))

enter the price 4000

congrsgulation goa trip
the price of the product is 3200.0

In [ ]:
#Loops Statements
1.while loop
2.forloop
3.nestedloop
4.Loop control(break,continue,pass)

In [22]:
#whileloop
joining_age=25
while joining_age<60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [25]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put some amount bank people")

1000
900
800
700
600
500
400
300
200
100
put some amount bank people

In [ ]:
##forloop

In [26]:
friend_lst=["hari","akshay","lalla","vivek","manikumar","vignesh","giri","sairam"]

In [28]:
for x in friend_lst:
    print(x)
    if x=="hari":
        print("hari is best friend")

hari
hari is best friend
akshay
lalla
vivek
manikumar
vignesh
giri
sairam

In [29]:
friend='deepak'
for i in friend:
    print(i)

d
e
e
p
a
k

In [31]:
friend='deepak'
for i in friend:
    print(i,end='')

deepak

In [1]:
#nested loops

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [11]:
friend_lst=["hari","akshay","lalla","vivek","manikumar","vignesh","giri","sairam"]
for i in friend_lst:
    if i=="vivek":
        print("vivek heart broken")
        break
    print(i)

hari
akshay
lalla
vivek heart broken

In [12]:
friend_lst=["hari","akshay","lalla","vivek","manikumar","vignesh","giri","sairam"]
for i in friend_lst:
    if i=="vivek":
        print("vivek heart broken")
        pass
    print(i)

hari
akshay
lalla
vivek heart broken
vivek
manikumar
vignesh
giri
sairam

In [13]:
friend_lst=["hari","akshay","lalla","vivek","manikumar","vignesh","giri","sairam"]
for i in friend_lst:
    if i=="vivek":
        print("vivek heart broken")
        continue
    print(i)

hari
akshay
lalla
vivek heart broken
manikumar
vignesh
giri
sairam